/*!!  <- to be deleted*/

:root {
  --color-accented: #2196f3;
  --color-normal: #757575;
  --color-strong: #212121;
  --color-background1: white;
  --color-background2: #2f303a;
  --color-background3: #f5f4fa;
}
.section {
  padding: 94px 0 94px 0;
}

.container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green; /*!!*/
}
.container-wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: yellow; /*!!*/
}

.container-lined {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: deepskyblue; /*!!*/
  width: 1200px;
  margin: 0 215px;
  gap: 94;
}

.container-spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  gap: 46px;
}
.container-right {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: right;
  gap: 50px;
  background-color: greenyellow;
}
.container-left {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: red;
}
.container-left-wrap {
  text-align: left;
  width: 1200px;
  margin-left: 215px;
  margin-right: 215px;
  /* background-color: fuchsia; */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-normal);
  font-weight: 400;
  font-size: 14px;

  width: 1600px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}
header {
  height: 80px;
}
#contact {
  /* footer */
  height: 252px;
  background-color: var(--color-background2);
}
.company-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.button1 {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-background3);
  color: var(--color-strong);
  border-width: 0;
}
.link1 {
  font-weight: 500;
}

.button1:hover,
.button1:focus {
  background-color: var(--color-accented);
  color: var(--color-background1);
  cursor: pointer;
}

.link1:hover {
  color: var(--color-accented);
}
/* */
.link1:focus {
  color: var(--color-accented);
}
.product-card h3 {
  font-weight: 700;
  font-size: 18px;
}
.product-card {
  font-size: 16px;
}
.hq-address {
  color: var(--color-background1);
}
.upper-article {
  line-height: 171%;
}
.upper-article h2 {
  color: var(--color-strong);
  font-weight: 700;
  font-size: 36px;
}
.upper-article h3 {
  font-weight: 700;
  color: var(--color-strong);
}
.upper-article > ul {
  margin-bottom: 94px;
}
.lower-article {
  background-color: var(--color-background3);
}
.section h2 {
  color: var(--color-strong);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
}
.banner1 {
  max-height: 25%;
  min-height: 600px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  color: var(--color-background1);
  background-color: var(--color-background2);
}
.banner1 h1 {
  margin: 30px;
}
.banner1 button {
  font-weight: 700;
  font-size: 16px;
  background-color: var(--color-accented);
  color: var(--color-background1);
}
nav .link1 {
  color: var(--color-strong);
}
.personel-card h4 {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-strong);
}
.personel-card {
  font-size: 16px;
}
.padding-30 {
  padding: 20px;
}
.padding-30 > :nth-child(n) {
  margin: 10px;
}
.center {
  text-align: center;
}
.box-200x50 {
  min-width: 200px;
  min-height: 50px;
}

footer > :nth-child(n) > :nth-child(n) {
  display: flex;
  padding-top: 9px;

  background-color: yellowgreen;
  margin: 0;
}
footer > :nth-child(n) > :first-child {
  display: flex;
  /* padding: 9px 0; */
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: yellowgreen;
  /* margin: 10px; */
}
footer > :nth-child(n) > :last-child {
  display: flex;

  padding-bottom: 60px;
  background-color: yellowgreen;
  margin: 0;
}
/* */
